@media screen and  (min-width:320px) {



}
@media screen and  (min-width:321px) and (max-width:480px) {


}
@media screen and  (min-width:481px)  and (max-width:768px){


}
@media screen and  (min-width:768px) and (max-width:1024px) {
  /* .navbar-collapse.collapse {
    display: block;
    position: relative;!important; */
}
@media screen and  (min-width:1224px) {
  .customer-jumbotron{
    background-color: blue;
    background-image:url('../images/hero-image.svg');
    height:536px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
  }


}
@media screen and  (min-width:320px) {
  .spce-jumbotron{
    background-color:blue;
  }

}
@media screen and  (min-width:321px) and (max-width:480px) {
  .spce-jumbotron{
    background-color:#00008B;
  }

}
@media screen and  (min-width:481px)  and (max-width:768px){
  .spce-jumbotron{
    background-color:#00008B;
  }

}
@media screen and  (min-width:768px) and (max-width:1024px) {
  /* .navbar-collapse.collapse {
    display: block;
    position: relative;!important; */
}
@media screen and  (min-width:1224px) {
  .spce-jumbotron{
  background-color:#00008B;background-image:url('../images/space-jumbotron.svg');
  }
  .space-container{
    height:700px;
  }


}


.hero-custom{
  border-radius:0;
  height:536px;
   background: linear-gradient(-45deg,#030021,#040023 2%,#0b0539 24%,#0e0741 38%,#2c1575 71%,#2d308f) 50% no-repeat,linear-gradient(-180deg,rgba(0,8,255,.1),rgba(0,8,255,0)) 50% no-repeat;
}
.container-fluid{
  padding-left:0; padding-right:0;
}
.imagesize{
  width: 50px;
  height: 50px;
}

.brand-image{
  width: 50px;
  height: 50px;
}

.image13{
  width:auto;
  height: 300px;
}
.image15{
  height: 300px;
}
.image16{
  height: 370px;
}
.background{
  background-color: rgb(21, 205, 114);
}
.footer-custom{
  background-color: rgb(1, 14, 40);
}
.image{
  height: 20px;
  width: 16px;
}
.container-hero-custom{
    margin-left: 0px;
    margin-right: 0px;
    background-color:blue;

}

.header-hero-custom{
  background-color:blue;
  padding-top: 90px;
  height:600px;
}
.image-custom{
  background-size:100% 100%;
}
.col-custom{
  margin-left: 60px;
  padding-right: 100px;
}
.container-custom{
  margin-top: 90px;
  margin-bottom: 32px;
}
.space-custom{
  background-color:#00008B;
}
.space-row-jumbotron{

  margin-top: 20px;
  margin-left: 0px;
}
#i::after{
  content:"|";

  margin:10px;
}
a:hover{
  text-decoration: none;
}
#s.hover{
  display: none;
}
