<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DigitalOcean|Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link for Bootstrap css core-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link for custom styles -->
    <link rel="stylesheet" href="../css/app.css">
    <!-- link for fonts used -->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a  class="navbar-brand text-white" href="#"><img class="imagesize" src="../images/image3.png" alt="">DigitalOcean</a>
        <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#a" aria-controls="a" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="a">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="b">
                <a href="#" class="dropdown-item">Droplets<h6 class="text-muted">Scalable compute services.</h6></a>
                <a href="#" class="dropdown-item">Spaces <h6 class="text-muted">Simple  object stroge.</h6></a>
                <a href="#" class="dropdown-item">Tools &  Integration<h6 class="text-muted">Automate your infrastructure.</h6></a>
                <hr>
                <a href="#" class="dropdown-item"><span class="fa fa-folder-o"></span>API Documentation</a>
              </div>
            </li>
            <li href="#" class="nav-item text-white">
              <a href="#" class="nav-link ">Customers
              </a>
            </li>
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="c" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community
              </a>
              <div class="dropdown-menu" aria-labelledby="c">
                <a href="#" class="dropdown-item">Community Overview <h6 class="text-muted">Dev to  production resource.</h6></a>
                <a href="#" class="dropdown-item">Tutorials<h6 class="text-muted">Guides  for devs and  sysadmins.</h6></a>
                <a href="#" class="dropdown-item">Questions & answers<h6 class="text-muted">Ask or answer development question.</h6></a>
                <a href="#" class="dropdown-item">Projects <h6 class="text-muted">Community projects.</h6></a>
                <hr>
              </div>
            </li>
            <li class="nav-item text-white">
              <a href="#" class="nav-link">Pricing</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a href="#" class="nav-link">Docs</a>
            </li>
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="f" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support
              </a>
              <div class="dropdown-menu" aria-labelledby="f">
                <a href="#" class="dropdown-item">Contact Support</a>
                <a href="#" class="dropdown-item">FAQ</a>
                <a href="#" class="dropdown-item">Network Status</a>
              </div>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link">Login
              </a>
            </li>
            <li class="nav-item ">
              <button class="btn btn-outline-light" type="submit">Sign Up</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="" style="background-color:#0000FF;">
      <div class="container container-hero-custom">
         <div class="jumbotron customer-jumbotron" >
          <div class="row">
            <div class="col-md-6 ">
              <h1 class="text-white font-weight-bold display-4">See what customers are building</h1>
              <p class="text-white h5 mt-md-3">All over the world, our customers are building and running awesome, innovative things with DigitalOcean.</p>
            </div>
            <div class="col-md-6">
            </div>
            </div>
          </div>
        </div>
        </div>
    </main>
    <div class="d-none d-lg-block ">
      <nav class="navbar  navbar-expand-md bg-light navbar-light">
          <div class="collapse navbar-collapse">
          <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item">

                <a href="#a" class="nav-link" >Web Apps</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Machine Learning & AI</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Hosted Services</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Websites</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Developers Tools</a>
            </li>

          </ul>

        </div>


      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-custom ">
            <div class=" container-custom">
              <div class="section" id="a">
                <h2 class="font-weight-bold"> Web Apps</h2>
                <p class="text-muted mt-md-4">Build your web or mobile applications for production with multiple
                  compute and storage options, high availability services, and your configuration and orchestration tools of choice.</p>
              </div>
              </div>

          </div>
        </div>
        <div class="col-md-6 image-custom" style="background-image:url('../images/image11.jpg');" >

        </div>
      </div>
      <div class="row">

        <div class="col-md-6 image-custom" style="background-image:url('../images/image12.jpg');">

        </div>
        <div class="col-md-6">
          <div class="col-custom">
            <div class=" container-custom" >
              <div class="section" id="a">
                <h2 class="font-weight-bold">Machine Learning & AI</h2>
                <p class="text-muted mt-md-4 ">Deploy your AI or machine learning applications to
                  process and analyze massive datasets using our API and SSD-based virtual machines.
                   We provide the flexibility your team needs to process and manage big data, offering
                   resources to get you started with distributed processing, database and storage, data streams
                  and pipelines, monitoring and metrics, and data visualization and intelligence.</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-custom">
              <div class=" container-custom" >
                <div class="section" id="a">
                  <h2 class="font-weight-bold"> Hosted Services</h2>
                  <p class="text-muted mt-md-4 ">Deploy and integrate your PaaS, DBaaS,
                    or CMS-as-a-Service with our API,
                     and know exactly what you'll pay with our predictable pricing model.</p>
                </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 image-custom" style="background-image:url('../images/image13.jpg');" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 image-custom" style="background-image:url('../images/image14.jpg');">
          </div>
          <div class="col-md-6">
            <div class="col-custom">
              <div class=" container-custom">
                <div class="section" >
                  <h2 class="font-weight-bold">Websites</h2>
                  <p class="text-muted mt-md-4 ">Build and manage multiple client websites,
                    blogs, and other static web pages using our
                     user-friendly control panel or simple API, all with a 99.99% uptime SLA.</p>
                </div>
              </div>
                <a href="#" class="ml-md-3">Explore Websites <span class="fa fa-long-arrow-right"></span></a>
                <div class="container ">
                  <div class="row">
                    <div class="col-md-6 ">
                      <img src="../images/image-wework.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 mt-md-3">
                      <img src="../images/img-tesla.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 ">
                      <img src="../images/img-jquery.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-custom">
              <div class=" container-custom">
                <div class="section" id="a">
                  <h2 class="font-weight-bold">Developer Tools</h2>
                  <p class="text-muted mt-md-4 ">Host and run automated testing of your code
                    on DigitalOcean servers. Deploy Droplets in less than a minute to run CI
                     for your environments with tools like JenkinsCI, TravisCI, and Drone. Get
                     comfortable with new tools and set
                    up testing environment to your specifications with our straightforward API.</p>
                </div>
              </div>
              <a href="#" class="ml-md-3">Explore Developer Tools <span class="fa fa-long-arrow-right"></span></a>
            </div>
            <div class="container col-custom">
              <div class="row mt-md-5">
                <div class="col-md-5 ">
                  <img src="../images/image6.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-5 ">
                  <img src="../images/image17.png" class="img-fluid" alt="">
                </div>
              </div>
              <div class="row mt-md-5 ">
                <div class="col-md-4 ">
                  <img src="../images/image18.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-3 ">
                  <img src="../images/image19.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-3 ">
                  <img src="../images/image20.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 image-custom" style="background-image:url('../images/image15.jpg');">
          </div>
        </div>
    </div>

    <footer class="footer footer-custom">
      <div class="container">
        <div class="row mt-md-5">
          <div class="col-md-4 mt-md-5">
            <img src="../images/image.svg" alt="">
            <div class="">
                <small class="text-muted">Copyright © 2018 DigitalOcean™ Inc.<br><a href="#" class="text-muted">Proudly made in NY</a></small>
            </div>
            <div class="d-inline">
              <a href="#" class="mr-md-2"><span class="fa fa-twitter"></span></a>
              <a href="#" class="mr-md-2"><span class="fa fa-facebook"></span></a>
              <a href="#" class="mr-md-2"><span class="fa fa-instagram"></span></a>
              <a href="#" class="mr-md-2"><span class="fa fa-youtube-play"></span></a>
              <a href="#" class="mr-md-2"><span class="fa fa-linkedin"></span></a>
              <a href="#" class="mr-md-2"><img src="../images/image16.png" class="image"></span></a>
            </div>
          </div>
          <div class="col-md-2">
            <dl class="mt-md-5">
              <dt class="text-white mb-md-3">Company</dt>
              <dd><a href="#" class="text-muted">About</a></dd>
              <dd><a href="#" class="text-muted">Leadership</a></dd>
              <dd><a href="#" class="text-muted">Blog</a></dd>
              <dd><a href="#" class="text-muted">Carreier</dd>
              <dd><a href="#" class="text-muted">Refferal Program</a></dd>
              <dd><a href="#" class="text-muted">Events</a></dd>
              <dd><a href="#" class="text-muted">Press</a></dd>
              <dd><a href="#" class="text-muted">Security</a></dd>
              <dd><a href="#" class="text-muted">Legal</a></dd>
            </dl>
          </div>
          <div class="col-md-2">
            <dl class="mt-md-5">
              <dt class="text-white mb-md-3">Products</dt>
              <dd><a href="#" class="text-muted">Droplets</a></dd>
              <dd><a href="#" class="text-muted">Spaces</a></dd>
              <dd><a href="#" class="text-muted">API</a></dd>
              <dd><a href="#" class="text-muted">Tools&Integrations</dd>
              <dd><a href="#" class="text-muted">Pricing</a></dd>
              <dd><a href="#" class="text-muted">Documentation</a></dd>
            </dl>
          </div>
          <div class="col-md-2">
            <dl class="mt-md-5">
              <dt class="text-white mb-md-3">Community</dt>
              <dd><a href="#" class="text-muted">Tutorials</a></dd>
              <dd><a href="#" class="text-muted">Meetups</a></dd>
              <dd><a href="#" class="text-muted">Q&A</a></dd>
              <dd><a href="#" class="text-muted">Write for DOnations</dd>
              <dd><a href="#" class="text-muted">Droplets for Demos</a></dd>
              <dd><a href="#" class="text-muted">Hatch</a></dd>
              <dd><a href="#" class="text-muted">Shop Swag</a></dd>
              <dd><a href="#" class="text-muted">Research Program</a></dd>
            </dl>
          </div>
          <div class="col-md-2">
            <dl class="mt-md-5">
              <dt class="text-white mb-md-3">Support</dt>
              <dd><a href="#" class="text-muted">Contact Support</a></dd>
              <dd><a href="#" class="text-muted">FAQ</a></dd>
              <dd><a href="#" class="text-muted">Network Status</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </footer>

    <!-- link for Bootstrap javascript core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
  </body>
</html>
