<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spaces on DigitalOcean</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DigitalOcean:login</title>
    <!-- link for custom styles -->
    <link rel="stylesheet" href="../css/app.css">

    <!-- link for Bootstrap css core-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link for fonts used -->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a  class="navbar-brand text-white" href="#"><img class="imagesize" src="../images/image3.png" alt="">DigitalOcean</a>
        <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#a" aria-controls="a" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="a">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="b">
                <a href="#" class="dropdown-item">Droplets<h6 class="text-muted">Scalable compute services.</h6></a>
                <a href="#" class="dropdown-item">Spaces <h6 class="text-muted">Simple  object stroge.</h6></a>
                <a href="#" class="dropdown-item">Tools &  Integration<h6 class="text-muted">Automate your infrastructure.</h6></a>
                <hr>
                <a href="#" class="dropdown-item"><span class="fa fa-folder-o"></span>API Documentation</a>
              </div>
            </li>
            <li href="#" class="nav-item text-white">
              <a href="#" class="nav-link ">Customers
              </a>
            </li>
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="c" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community
              </a>
              <div class="dropdown-menu" aria-labelledby="c">
                <a href="#" class="dropdown-item">Community Overview <h6 class="text-muted">Dev to  production resource.</h6></a>
                <a href="#" class="dropdown-item">Tutorials<h6 class="text-muted">Guides  for devs and  sysadmins.</h6></a>
                <a href="#" class="dropdown-item">Questions & answers<h6 class="text-muted">Ask or answer development question.</h6></a>
                <a href="#" class="dropdown-item">Projects <h6 class="text-muted">Community projects.</h6></a>
                <hr>
              </div>
            </li>
            <li class="nav-item text-white">
              <a href="#" class="nav-link">Pricing</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a href="#" class="nav-link">Docs</a>
            </li>
            <li class="nav-item text-white  dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="f" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support
              </a>
              <div class="dropdown-menu" aria-labelledby="f">
                <a href="#" class="dropdown-item">Contact Support</a>
                <a href="#" class="dropdown-item">FAQ</a>
                <a href="#" class="dropdown-item">Network Status</a>
              </div>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link">Login
              </a>
            </li>
            <li class="nav-item ">
              <button class="btn btn-outline-light" type="submit">Sign Up</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main >
      <div class="container ">
        <div class="jumbotron-fluid ">
          <div class="row bg-primary">
            <div class="col-md-6 bg-success mt-md-5">
              <div class="mt-md-5 bg-warning">
                dd
              </div>
            </div>
            <div class="col-md-6">
              ww
            </div>
          </div>
          <h2 class="font text-center mb-md-5">Spaces Features</h2>
          <div class="row">

            <div class="col-md-4 justify-content-center">
              <div class="text-center"><img src="../images/image17.svg" class="brand-image" alt=""></div>
              <div class="text-center">
                <h4 class="mt-md-4"><small>Create spaces in an instant</small></h4>
                <h6 class="text-muted">We've simplified the essentials of object<br> storage to save you time. Simply name your Space and tap Create, and you're ready to go in seconds.</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <img src="../images/image18.svg" class="brand-image" alt="">
              </div>
              <div class="text-center">
                <h4 class="mt-md-4"><small>Scalable storage</small></h4>
                <h6 class="text-muted">Ideas are meant to evolve and expand, not conform to storage limitations. Spaces provides scalable storage so your projects always have room to grow.</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <img src="../images/image19.svg"  class="brand-image " alt="">
              </div>
              <div class="text-center">
                <h4 class="mt-md-4"><small>Available as a standalone service</small></h4>
                <h6 class="text-muted">Combine Spaces with other DigitalOcean products or use it as a standalone service, whichever suits your needs.</h6>
              </div>
            </div>
          </div>
          <section class="pt-md-5">
            <div class="row  p">
              <div class="col-md-6  mt-md-5">
                <img src="../images/image20.svg" alt="">
                <div class="mb-md-4 mt-md-4">
                  <h4 class="font">Affordable and predictable pricing</h4>
                </div>
                <div class="mb-md-3">
                  <p class="text-muted">Pricing starts at $5 per month and includes 250 GB of storage and 1 TB of outbound data transferred per month.</p>
                </div>
                <div class="">
                  <p class="text-muted">Additional storage is just $0.02 per GB stored, and additional bandwidth at $0.01 per GB of data transferred. Uploads to Spaces are free.</p>
                </div>
              </div>
              <div class="col-md-6  mt-md-5">
                <div class="card ml-md-2">
                  <div class="card-body">
                    <div class="card-header text-center">
                      <h4 class="font">$5 per month</h4>
                    </div>
                    <div class="">
                      <ul>
                      <li class="mb-md-3 mt-md-4"> 250 GB of storage</li>
                      <li class="mb-md-3">1 TB of outbound transfer</li>
                      <li class="mb-md-3">$0.02 per additional GB stored</li>
                      <li class="mb-md-3"> $0.01 per additional GB transferred</li>
                      </ul>
                      <div class="text-center">
                          <a href="#" class="btn btn-primary pl-4 pr-4">Try free for 2 months</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </main>
    <!-- link for Bootstrap javascript core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
